/* .box div holds the bottom image */


  .box {
    float:center
    background: url(../images/boxBottom.jpg); 
    background-repeat: no-repeat
    background-attachment: scroll left bottom;
    background-position: left bottom;
    margin-bottom: 50px;
    padding: 30px 0 15px;
    width: 1000px;
 }

 /*  this is the title h3 tag and contains the background
     image for the title	*/

  .box h3 {

    background: url(../images/box.jpg) repeat scroll 0 0;
    color: #000;
    font-size: 20px;
    height: 35px;
    line-height: 30px;
    margin: 30;
    padding: 0 15px;
  
 }

 /* The paragraph tag contains the side borders mark-up */

 .box p {

    background: #ffffff none repeat scroll 0 0;
    border-color: #CCC;
    border-width: 0 1px;
    border-style: solid;
    color: #444444;
    font-size: 17px;
    line-height: 1.3em;
    margin: 30px;
    padding: 5px 0 0;
    width: 500px;
 }
 
 